{% extends "base.html" %}

{% block title %}タスクの追加{% endblock %}

{% block page_title %}タスクの追加{% endblock %}

{% block content %}
    <h2>タスクを新規作成</h2>

    <form method="post" action=""> 
        {% csrf_token %} 
        {% if form.non_field_errors %}
            <div class="form-errors alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
{% endblock %}